.venv/
venv/
ENV/
env/


# Bỏ qua file model safetensors
text_summarization_model_1/

# Các định dạng model khác có thể dùng
*.safetensors
*.bin
*.pth
*.pt

# Thư mục cache/huggingface
.cache/
huggingface/

# File checkpoint nếu có
checkpoint/
*.ckpt
.qodo
